{% extends 'header.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html class="no-js" lang="en">

    <head>
    </head>
	
	<body>
		<center>
			<form style="margin-top: 150px;" method="post" action="{% url 'login' %}">
				{% csrf_token %}
				<table>
					<tr>
						<td colspan="2" align="center">
							{% if msg %}
							<p style="color:red;">{{msg}}</p>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td> Email </td>
						<td><input type="text" name="email" ></td>
					</tr>
					<tr>
						<td> Password</td>
						<td><input type="password" name="password" ></td>
					</tr>
					<tr>
						<td><input type="submit" name="action" value="Login" class = "btn btn-primary"></td>
						<td><input type="submit" name="action" value="Forgot Password" class = "btn btn-primary"></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							Not Register Yet? <a href="{% url 'signup' %}">Click Here </a> To Register
						</td>
					</tr>
				</table>
			</form>
		</center>
			
        </footer><!--/.footer-->
		<!--footer end-->
		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="{% static 'assets/js/jquery.js' %}"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		
		<!-- bootsnav js -->
		<script src="{% static 'assets/js/bootsnav.js' %}"></script>

		<!--owl.carousel.js-->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		
        
        <!--Custom JS-->
        <script src="{% static 'assets/js/custom.js' %}"></script>
        
    </body>
	
</html>
{% endblock %}